<div class="background-image d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="bg-title">ABOUT</h1>
    </div>
</div>

<div class="d-flex flex-column align-items-center article-section ">
    <div class="text-center">
        <h1 class="">About the project</h1>
        <div class="p-div">
            <p>This project represents the convergence of two deeply rooted passions in my life: travel and front-end
                UI/UX design. Motivated by an insatiable wanderlust, I embarked on a journey to merge these passions
                into a compelling travel blog. Through captivating design elements and intuitive user interfaces, the
                blog immerses visitors in vivid narratives about destinations, offering invaluable travel tips and
                insights.
            </p>
            <p>Beyond the captivating front-end experience, I delved into the backend development, crafting a
                personalized system that empowers me to curate, upload, and edit blog content effortlessly. This bespoke
                backend interface not only simplifies content management but also enhances the overall user experience
                by ensuring seamless navigation and access to a wealth of travel-related information.</p>
            <p>In this project, my dedication to both the frontend and backend aspects reflects not only my commitment
                to delivering an engaging platform but also my endeavor to create a space where my love for travel
                converges harmoniously with my skills in web development</p>
        </div>

    </div>
</div>