<div class="header-image" *ngIf="!isMobileScreen">
  <div class="card-overlay">
    <div class="card w-50 bg-transparent">
      <div class="card-body">
        <h1 class="card-title">Hi, I am Paula!</h1>
        <p class="card-text">Dive into my world where wanderlust meets design.</p>
        <a class="button btn btn-primary">Read More</a>

      </div>
    </div>
  </div>
</div>


<div class="header-image" *ngIf="isMobileScreen">
    <div class="card bg-transparent">
      <div class="card-body">
        <h1 class="card-title">Hi, I am Paula!</h1>
        <p class="card-text">Dive into my world where wanderlust meets design.</p>
        <a class="button btn btn-primary">Read More</a>

      </div>
    </div>

</div>
