<app-header></app-header>
<app-latest-article></app-latest-article>
<div class="container-fluid article-section">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-center">Top Destinations</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 mt-3">
            <div class="row flex-row">
                <app-single-post></app-single-post>
                <!-- Add more app-single-post components as needed -->
            </div>
        </div>
    </div>
</div>
<app-tips></app-tips>
