<a href="#" class="card-link">
    <div class="container">
        <div class="row">
            <div class=" hover-card col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img" src="assets/images/asia.jpg" alt="Bologna">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <h4 class="card-title">Asia</h4>
                        <div class="link d-flex">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
<a href="#" class="card-link">
    <div class="container">
        <div class="row">
            <div class=" hover-card col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img" src="assets/images/europe.jpg" alt="Bologna">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <h4 class="card-title">Europe</h4>
                        <div class="link d-flex">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
<a href="#" class="card-link">
    <div class="container">
        <div class="row">
            <div class=" hover-card col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img" src="assets/images/america.jpg" alt="Bologna">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <h4 class="card-title">North America</h4>
                        <div class="link d-flex">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>