<div class="row">
    <div class="col-lg-4">
        <div class="card hover-card">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                <h4 class="card-title">North America</h4>
                <div class="link d-flex">
                </div>
            </div>
            <img class="card-img" src="assets/images/america.jpg" alt="North America">
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card hover-card">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                <h4 class="card-title">Europe</h4>
                <div class="link d-flex">
                </div>
            </div>
            <img class="card-img" src="assets/images/europe.jpg" alt="Destination 2">
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card hover-card">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                <h4 class="card-title">Asia</h4>
                <div class="link d-flex">
                </div>
            </div>
            <img class="card-img" src="assets/images/asia.jpg" alt="Destination 3">
        </div>
    </div>
</div>
