.background-image {
    background: url('src/assets/images/tips.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-title {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
}


.hover-card {
    transition: transform 0.3s ease-in-out;
}

.hover-card:hover {
    transform: scale(1.05);
}

.card{
    border: none;
}

.container{
    margin-bottom: 100px;
}


@media (max-width: 576px) {
    .bg-title {
        font-size: 50px;
        font-family: 'Montserat';
    }
    
  }