<footer class="fixed-bottom">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-4">
              <div class="text-center text-lg-start">© 2023 Capybara Adventures – All Rights Reserved
              </div>
          </div>
          <div class="col-lg-4 text-center">
              <a class="navbar-brand" href="#">
                  <img  width="60" height="60" src="assets\images\capy.svg" alt="logo">
              </a>
          </div>
          <div class="col-lg-4">
              <ul class="nav justify-content-center justify-content-lg-end">
                  <li class="nav-item">
                      <a class="nav-link" href="https://www.instagram.com/paulinca24/"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://www.linkedin.com/in/dobre-paula/"><i class="fa-brands fa-linkedin-in"></i></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>

 