<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <a href="#" class="text-center">
                <div class="card left d-flex justify-content-center align-items-center" style="height: 400px;">
                    <div class="card-body">
                        <h1 class="left-h1">Special title treatment</h1>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        <!-- <a href="#" class="btn button btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6">
            <a href="#" class="text-center">
                <div class="card right d-flex justify-content-center align-items-center" style="height: 400px;">
                    <div class="card-body">
                        <h1>Special title treatment</h1>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        <!-- <a href="#" class="btn button btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>






<!-- <div class="row">
    <div class="col-md-5">
        <h5 class="card-title">Special title treatment</h5>
    </div>
    <div class="col-md-5">
        <h5 class="card-title">Special title treatment</h5>
    </div>
  </div>
   -->