
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6" *ngFor="let post of pinnedPosts; let even = even; let odd = odd">
                <a [routerLink]="['/article', post.id]" class="card-link text-center">
                    <div [ngClass]="{'card': true, 'left': even, 'right': odd}"  style="height: 400px">
                            <div class="card-body">
                                <h1>{{ post.title }}</h1>
                                <p class="card-text">{{ post.summary }}</p>
                            </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    

