.card-link {
    text-decoration: none;
}

.card {
    border: none;
    border-radius: 0px;
}

.left {
    background-color: var(--purple);
}

.left:hover {
    background-color: var(--purple-hover);
}


.right {
    background-color: var(--green);
}

.right:hover {
    background-color: var(--green-hover);
}

.col-lg-6 {
    padding: 0px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Amatic Sc', sans-serif;
    font-weight: bold;
    color: text;
    color: black;

}

p {
    color: white;
}