@import "bootstrap/dist/css/bootstrap.min.css";
@import url(https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);
@import "~@fortawesome/fontawesome-free/css/all.css";

:root {
    --beige: #F4EED9;
    --yellow: #FFB400;
    --lime:#D1DA33;
    --green: #03817C;
    --green-hover: #076763;
    --turquoise: #01BDC3;
    --purple: #9B0059;
    --purple-hover:#861154;
    --text: #2C2C2C;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Amatic Sc', sans-serif;
    font-weight: bold;
    color: text;
    padding: 5px 0 12px;
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 16px;
    width: 130px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: var(--yellow);
    z-index: -1;
    border-radius: 10px;
}

.button {
    color: white;
    background-color:#01BDC3;
    /* background-color: var(--orange); */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 150px;
    border: none;
    /* border-radius: 10px; */
    filter: drop-shadow(0px 4px 4px #D9D9D9);
}

.button:hover{
    background-color: #048885;
}

a{
    cursor: pointer;
}

a:hover {
    cursor: pointer; 
}