

    <div class="container">
        <div class="container">
          <h1>Latest Article</h1>
          <div class="row">
            <div class="col-md-6">
              <a href="article-url">
                <img src="assets/images/test.png" alt="Image" class="img-fluid">
              </a>
            </div>
            <div class="col-md-6 d-flex align-items-center">
              <div class="text-container">
                <h3>What I wished I knew before going to Spain</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                <a href="article-url" class="button btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      