<div class="container">
  <h1>Latest Article</h1>
  <div class="row">
    <div class="col-md-6" *ngFor="let featuredPost of featuredPosts">
      <a [routerLink]="['/article', featuredPost.id]">
        <img [src]="featuredPost.postImgPath" alt="Image" class="img-fluid">
      </a>
    </div>
    <div class="col-md-6 d-flex align-items-center" *ngFor="let featuredPost of featuredPosts">
      <div class="text-container">
        <h3>{{ featuredPost.title }}</h3>
        <p>{{ featuredPost.summary }}</p>
        <a [routerLink]="['/article', featuredPost.id]" class="button btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
</div>
