<nav class="navbar fixed-top bg-blur navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets\images\logo.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" routerLink="/destinations" routerLinkActive="active">Destinations</a>
        <a class="nav-link" href="#">Tips&Tricks</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Contact</a>
        <!-- <a class="nav-link btn btn-primary" href="#">Sign Up</a>
        <a class="nav-link btn btn-outline-primary" href="#">Login</a> -->
      </div>

    </div>

  </div>
</nav>

<!-- 
<nav class="navbar fixed-top bg-blur navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.svg" alt="logo">
    </a>
    <div class="navbar-nav ms-auto">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="destinationsDropdown" role="button"
          aria-expanded="false">
          Destinations
        </a>
        <ul class="dropdown-menu" aria-labelledby="destinationsDropdown">
          <li><a class="dropdown-item" href="#">Destination 1</a></li>
          <li><a class="dropdown-item" href="#">Destination 2</a></li>
          <li><a class="dropdown-item" href="#">Destination 3</a></li>
        </ul>
      </div>
      <a class="nav-link" href="#">Tips&Tricks</a>
      <a class="nav-link" href="#">About</a>
      <a class="nav-link" href="#">Contact</a>
    </div>
  </div>
</nav> -->
