<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <img src="assets/images/america.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <h1 class="mt-3 mb-3">How to travel more for less money 2023 edition</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aspernatur quam sit debitis nihil
                        accusamus a. Iusto iste quibusdam, illo facilis, eligendi voluptate dicta animi eveniet, alias
                        quod dolore. Inventore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque,
                        repudiandae quia. Perspiciatis rerum consectetur facere nostrum accusantium iure ullam, possimus
                        harum ipsum sed architecto incidunt, vel hic, eveniet vero iste. 
                        
                        Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Libero quo voluptatem ipsa culpa odio, perferendis praesentium
                        maiores neque soluta architecto aperiam cum, alias, natus magni recusandae reprehenderit
                        reiciendis eligendi eaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ad, nisi
                        laboriosam, 
                        
                        consectetur facilis mollitia similique deleniti quaerat reprehenderit eaque fuga
                        tempore nobis modi libero tempora vitae delectus minus? Nobis? Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Dolore minima dolores tempora, esse perspiciatis modi temporibus
                        suscipit ab excepturi soluta amet atque fugiat, distinctio officiis, ratione officia!
                        Laudantium, voluptate officiis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
                        alias minima dicta possimus autem dignissimos quasi sit veritatis quae amet nisi distinctio
                        numquam iure incidunt earum, tenetur corrupti quaerat enim.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h1 class="mt-5 mb-3">You may also like</h1>

            <app-single-post></app-single-post>
            <app-single-post></app-single-post>
            <app-single-post></app-single-post>
            <app-single-post></app-single-post>
        </div>
    </div>
</div>