.card {
    margin-bottom: 30px;
    border: none;
    text-align: center;
}

.card {
    margin-bottom: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.row{
    margin-bottom: 25px;
}

.card-title {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    font-size: 50px;

}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    color: var(--purple-hover);
}

.hover-card {
    transition: transform 0.3s ease-in-out;
}

.hover-card:hover {
    transform: scale(1.05);
}

.btn {
    background-color: var(--yellow);
    border: none;
}


h1 {
    margin-left: 20px;
}

.selectedDestination h1 {
    font-size: 32px;
}

.background-image {
    background: url('src/assets/images/destinations bg.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.bg-title {
    font-size: 100px;
    font-family: 'Montserat';
}


@media (max-width: 576px) {
    .bg-title {
        font-size: 50px;
        font-family: 'Montserat';
    }

}