<div class="background-image d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="bg-title">DESTINATIONS</h1>
    </div>
</div>

<div class="container-fluid article-section">
    <div class="row">
        <div class="col-md-12 my-2">
            <h1 class="">Choose by Location</h1>
        </div>
    </div>

    <div *ngIf="!isMobileScreen">


        <div class="row">
            <div class="col-lg-4" (click)="loadArticles('North America')">
                <div class="card hover-card">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <h4 class="card-title">North America</h4>
                        <div class="link d-flex">
                        </div>
                    </div>
                    <img class="card-img" src="assets/images/america.jpg" alt="North America">
                </div>
            </div>

            <div class="col-lg-4" (click)="loadArticles('Europe')">
                <div class="card hover-card">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <h4 class="card-title">Europe</h4>
                        <div class="link d-flex">
                        </div>
                    </div>
                    <img class="card-img" src="assets/images/europe.jpg" alt="Destination 2">
                </div>
            </div>

            <div class="col-lg-4" (click)="loadArticles('Asia')">
                <div class="card hover-card">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <h4 class="card-title">Asia</h4>
                        <div class="link d-flex">
                        </div>
                    </div>
                    <img class="card-img" src="assets/images/asia.jpg" alt="Destination 3">
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-lg-4 mb-3" (click)="loadArticles('Africa')">
                    <div class="card hover-card ">
                        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                            <h4 class="card-title">Africa</h4>
                            <div class="link d-flex">
                            </div>
                        </div>
                        <img class="card-img" src="assets/images/africa.jpg" alt="Destination 3">
                    </div>
                </div>

                <div class="col-lg-4 mb-3" (click)="loadArticles('Oceania')">
                    <div class="card hover-card ">
                        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                            <h4 class="card-title">Oceania</h4>
                            <div class="link d-flex">
                            </div>
                        </div>
                        <img class="card-img" src="assets/images/oceania.jpg" alt="Destination 3">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="isMobileScreen">
        <div class="row">
            <div class="col-lg-4" (click)="loadArticles('North America')">
                <div class="card hover-card">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <h4 class="card-title">North America</h4>
                        <div class="link d-flex">
                        </div>
                    </div>
                    <img class="card-img" src="assets/images/america.jpg" alt="North America">
                </div>
            </div>

            <div class="col-lg-4" (click)="loadArticles('Europe')">
                <div class="card hover-card">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <h4 class="card-title">Europe</h4>
                        <div class="link d-flex">
                        </div>
                    </div>
                    <img class="card-img" src="assets/images/europe.jpg" alt="Destination 2">
                </div>
            </div>

            <div class="col-lg-4" (click)="loadArticles('Asia')">
                <div class="card hover-card">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <h4 class="card-title">Asia</h4>
                        <div class="link d-flex">
                        </div>
                    </div>
                    <img class="card-img" src="assets/images/asia.jpg" alt="Destination 3">
                </div>
            </div>



            <div class="col-lg-4" (click)="loadArticles('Africa')">
                <div class="card hover-card ">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <h4 class="card-title">Africa</h4>
                        <div class="link d-flex">
                        </div>
                    </div>
                    <img class="card-img" src="assets/images/africa.jpg" alt="Destination 3">
                </div>
            </div>

            <div class="col-lg-4" (click)="loadArticles('Oceania')">
                <div class="card hover-card ">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <h4 class="card-title">Oceania</h4>
                        <div class="link d-flex">
                        </div>
                    </div>
                    <img class="card-img" src="assets/images/oceania.jpg" alt="Destination 3">
                </div>
            </div>


        </div>
    </div>

    <div class="selectedDestination" *ngIf="selectedDestination" id="articles-section">
        <h1 style="font-size: 40px;">Discover {{ selectedDestination }}</h1>
        <div class="row">
            <div class="col-md-4" *ngFor="let article of articles; let i = index">
                <a [routerLink]="['/article', article.id]" class="card-link">
                    <div class="card hover-card">
                        <img class="card-img-top" [src]="article.postImgPath" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>